body {
    #main {
        #content {
            #header {
                position: relative;
                background: url("/old/assets/img/backgrounds/index.webp") no-repeat center;
                background-size: cover;
                width: 100%;
                height: 80%;
                clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
                justify-content: center;
                align-items: center;
                display: flex;

                img {
                    height: 50%;
                }
            }

            div.scroll {
                position: absolute;
                bottom: 0; right: 0;
                width: 100%;
                height: 20%;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    opacity: 0.5;
                    color: var(--foreground2);
                    font-size: 3rem;
                    animation: hover 3s linear infinite;
                }

                a:hover {
                    opacity: 1;
                    color: var(--foreground);
                }
            }

            #start {
                user-select: text;
                background: var(--background2);
                position: absolute;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                overflow-y: auto;
                top: 100%;

                .heading {
                    user-select: none;
                    text-align: center;
                    color: var(--foreground);
                    background: var(--background3);
                    padding-bottom: 0.5rem;
                    margin: 0;
                    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                    padding-top: 5rem;
                }

                .creator-content {
                    position: relative;
                    justify-content: center;
                    padding: 1rem 0.5rem 2.25rem 0.5rem;
                    background: var(--background3);
                    .description {
                        width: 40%;
                        background: var(--background2);
                        box-shadow: 0 0 0.4rem #00000080;
                        border: solid 1px var(--foreground3);

                        img {
                            user-select: none;
                            height: 10rem;
                            width: 10rem;
                            margin: 0.25rem 1rem 0.25rem 0.25rem;
                            border-radius: 0.75rem;
                            border: solid 1px var(--foreground3);
                        }

                        img:hover {
                            rotate: 3deg;
                            height: 12rem;
                            width: 12rem;
                            box-shadow: 0 0 0.4rem #ffffff50;
                        }

                        h2, p {
                            padding: 0; margin: 0 0 0.5rem 0;
                        }

                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.25rem;
                        }
                    }

                    .links {
                        user-select: none;
                        background: var(--background2);
                        box-shadow: 0 0 0.4rem #00000090;
                        border: solid 1px var(--foreground3);

                        p, a {
                            margin: 0;
                            text-decoration: none;
                            color: unset;
                        }

                        p {
                            position: relative;
                            margin: 0.25rem 0 0 0;
                            border-radius: 0.5rem;
                            padding: 0.5rem 0.5rem 0.5rem 2rem;

                            i {
                                position: absolute;
                                left: 0.4rem; top: 0.45rem;
                                font-size: 1.4rem;
                            }
                        }

                        p:hover {
                            background: var(--foreground);
                            color: var(--background);
                        }
                    }


                }

                .creator-content.active {
                    .description {
                        width: 90%;
                    }

                    .links {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: flex;
                        background: none;
                        position: absolute;
                        top: 12.75rem;
                        box-shadow: none !important;
                        border: none !important;
                    }
                }
            }
        }
    }
}